.idea/
**/target/**
**/*.iml
auth/KeyFile.txt
.secret.txt
.project
.classpath
**/.settings
.vscode/
iplocator/data
out
parent.ipr
parent.iws
scripts/prometheus/backup/__pycache__/
**/__pycache__/**
services/confidential/**
services/.confidential
system-test/venv/**

CMakeCache.txt
CMakeFiles/
Makefile
bin/
cmake_install.cmake
secret-keys.txt
.saipm/
build_modules/
build/
dist/
